* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 2px solid none;
}

body {
    background-color: #1f2937;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
  background-color: #111;
}

.wrapper {
    width: 70%;
    margin: auto;
    padding: 20px;
}

.dark {
    color: #e5e7eb;
}

.section-grey {
    background-color: #eeeeee;
}

.section-quote {
    background-color: #e5e7eb;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.item {
    text-align: center;
    width: 200px;
    /* flex: 1; */
}

.column {
    width: 50%;
}

.image-list {
    border: 5px solid blue;
    border-radius: 20px;
}

footer {
    width: 70%;
    margin: auto;
    padding: 20px;
}